<h1> All the Courses </h1>
<ol>
    <% @courses.each do |course| %>
        
        <li> <%= link_to course.name, course_path(course) %> </li>
    <% end %>
</ol> 

<p> <%= link_to "Create New Course", "/courses/new" %> </p>

